# This is a configuration definition file in folder "/home/jon/Dropbox/Repos/LTLMoP/src/examples/local_planner/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions


Initial_Truths: # Initially true propositions
s1a

Main_Robot: # The name of the robot used for moving in this config
rob1

Name: # Configuration name
fmr_challenge

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
rob1_s1a_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u's1a')
rob1_s1b_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u's1b')
rob1_s2a_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u's2a')
rob1_s2b_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u's2b')
rob1_s3a_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u's3a')
rob1_s3b_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u's3b')
rob1_s4a_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u's4a')
rob1_s4b_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u's4b')
rob1_i12_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'i12')
rob1_i23_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'i23')
rob1_i34_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'i34')
rob1_i41_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'i41')

======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  1.        ,   0.        ,   0.        ],
       [  0.        ,   1.        ,   0.        ],
       [  0.        ,   0.        ,   1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=1.,maxspeed=100.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="s1a", x=0.0, y=0.0, theta=2.0310, absolute=False)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob1

Type: # Robot type
basicSim

