# This is a configuration definition file in folder "/home/jon/Dropbox/Repos/LTLMoP/src/examples/local_planner/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions


Initial_Truths: # Initially true propositions


Main_Robot: # The name of the robot used for moving in this config
rob1

Name: # Configuration name
exogenous_robots

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
rob1_T_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'T')
rob1_B_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'B')
rob1_L_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'L')
rob1_R_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'R')
rob1_D_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'D')
rob2_T_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'T')
rob2_B_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'B')
rob2_L_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'L')
rob2_R_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'R')
rob2_D_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'D')


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1, -0., 0. ],
       [ 0., 1,  0. ],
       [ 0., 0., 1. ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=1.,maxspeed=100.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="T",x=100.,y=10.)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.MultiRobotServerHandler(scalingPixelsToMeters=70.)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob1

Type: # Robot type
basicSim

======== Robot2 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1, -0., 0. ],
       [ 0., 1,  0. ],
       [ 0., 0., 1. ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=1.,maxspeed=100.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="B",x=100.,y=10.)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.MultiRobotServerHandler(scalingPixelsToMeters=70.)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob2

Type: # Robot type
basicSim
