# This is a configuration definition file in folder "/home/jon/Dropbox/Repos/LTLMoP/src/examples/local_planner/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
rob2_pickup = share.DummyActuatorHandler.setActuator(delay=0.0, name='rob2_pickup')
rob1_pickup = share.DummyActuatorHandler.setActuator(delay=0.0, name='rob1_pickup')

Initial_Truths: # Initially true propositions
m_rob1_T
m_rob2_B

Main_Robot: # The name of the robot used for moving in this config
MAE

Name: # Configuration name
two_robots_local_planner_iCreate

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
door = share.DummySensorHandler.buttonPress(button_name='door', init_value=False)
garbage = share.DummySensorHandler.buttonPress(button_name='garbage', init_value=False)
D_rc = share.DummySensorHandler.buttonPress(button_name='D_rc', init_value=False)
B_rc = share.DummySensorHandler.buttonPress(button_name='B_rc', init_value=False)
L_rc = share.DummySensorHandler.buttonPress(button_name='L_rc', init_value=False)
T_rc = share.DummySensorHandler.buttonPress(button_name='T_rc', init_value=False)
rob2_pickup_ac = share.DummySensorHandler.buttonPress(button_name='rob2_pickup_ac', init_value=False)
rob1_pickup_ac = share.DummySensorHandler.buttonPress(button_name='rob1_pickup_ac', init_value=False)
R_rc = share.DummySensorHandler.buttonPress(button_name='R_rc', init_value=False)


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
nao.NaoActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  -4.95573861,  218.33918285,  365.36230497],
       [ 244.40251734,   -7.48047835,  272.65546075],
       [   0.        ,    0.        ,    1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.BipedalDriveHandler(maxspeed=1.0,maxfreq=1.0,angcur=1.047,angfwd=0.262,minvel=0.3,silent=True)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
nao.NaoInitHandler(ip="maecy.local",port=9559)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
nao.NaoLocomotionCommandHandler()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="Create2:Create <t-X>",y_VICON_name="Create2:Create <t-Y>",theta_VICON_name="Create2:Create <a-Z>")

RobotName: # Robot Name
MAE

SensorHandler: # Sensor handler file in robots/Type folder
nao.NaoSensorHandler()

Type: # Robot type
nao


======== Robot2 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 239.26387276,  -20.78356822,  319.346757  ],
       [   5.54588546, -208.64716974,  346.25904627],
       [   0.        ,    0.        ,    1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=1.0,maxspeed=4.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.MultiRobotLocalPlannerHandler(scalingPixelsToMeters=70.0)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="Create2:Create <t-X>",y_VICON_name="Create2:Create <t-Y>",theta_VICON_name="Create2:Create <a-Z>")

RobotName: # Robot Name
rob2

Type: # Robot type
iRobotCreate

