# This is a configuration definition file in folder "/home/jon/Dropbox/Repos/LTLMoP/src/examples/local_planner/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
calibrate

Name: # Configuration name
calibrate

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 239.26387276,  -20.78356822,  319.346757  ],
       [   5.54588546, -208.64716974,  346.25904627],
       [   0.        ,    0.        ,    1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=1.0,maxspeed=4.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
iRobotCreate.IRobotCreateInitHandler(listenIP="0.0.0.0",broadCastIP="192.168.1.120",createPort=8865,beaglePort=8866,artagPort=8844,sonarPort=8833,buffer=1024)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.MultiRobotLocalPlannerHandler(scalingPixelsToMeters=70.0)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="Create2:Create <t-X>",y_VICON_name="Create2:Create <t-Y>",theta_VICON_name="Create2:Create <a-Z>")

RobotName: # Robot Name
calibrate

Type: # Robot type
iRobotCreate

