# This is a configuration definition file in folder "/home/jon/Dropbox/Repos/LTLMoP/src/examples/local_planner/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions


Initial_Truths: # Initially true propositions


Main_Robot: # The name of the robot used for moving in this config
rob1

Name: # Configuration name
eight_exogenous_robots

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
rob1_T_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'T')
rob1_B_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'B')
rob1_L_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'L')
rob1_R_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'R')
rob1_D_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'D')
rob2_T_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'T')
rob2_B_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'B')
rob2_L_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'L')
rob2_R_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'R')
rob2_D_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'D')
rob3_T_rc = share.DummySensorHandler.inRegion(robotName=u'rob3', regionName=u'T')
rob3_B_rc = share.DummySensorHandler.inRegion(robotName=u'rob3', regionName=u'B')
rob3_L_rc = share.DummySensorHandler.inRegion(robotName=u'rob3', regionName=u'L')
rob3_R_rc = share.DummySensorHandler.inRegion(robotName=u'rob3', regionName=u'R')
rob3_D_rc = share.DummySensorHandler.inRegion(robotName=u'rob3', regionName=u'D')
rob4_T_rc = share.DummySensorHandler.inRegion(robotName=u'rob4', regionName=u'T')
rob4_B_rc = share.DummySensorHandler.inRegion(robotName=u'rob4', regionName=u'B')
rob4_L_rc = share.DummySensorHandler.inRegion(robotName=u'rob4', regionName=u'L')
rob4_R_rc = share.DummySensorHandler.inRegion(robotName=u'rob4', regionName=u'R')
rob4_D_rc = share.DummySensorHandler.inRegion(robotName=u'rob4', regionName=u'D')
rob5_T_rc = share.DummySensorHandler.inRegion(robotName=u'rob5', regionName=u'T')
rob5_B_rc = share.DummySensorHandler.inRegion(robotName=u'rob5', regionName=u'B')
rob5_L_rc = share.DummySensorHandler.inRegion(robotName=u'rob5', regionName=u'L')
rob5_R_rc = share.DummySensorHandler.inRegion(robotName=u'rob5', regionName=u'R')
rob5_D_rc = share.DummySensorHandler.inRegion(robotName=u'rob5', regionName=u'D')
rob6_T_rc = share.DummySensorHandler.inRegion(robotName=u'rob6', regionName=u'T')
rob6_B_rc = share.DummySensorHandler.inRegion(robotName=u'rob6', regionName=u'B')
rob6_L_rc = share.DummySensorHandler.inRegion(robotName=u'rob6', regionName=u'L')
rob6_R_rc = share.DummySensorHandler.inRegion(robotName=u'rob6', regionName=u'R')
rob6_D_rc = share.DummySensorHandler.inRegion(robotName=u'rob6', regionName=u'D')
rob7_T_rc = share.DummySensorHandler.inRegion(robotName=u'rob7', regionName=u'T')
rob7_B_rc = share.DummySensorHandler.inRegion(robotName=u'rob7', regionName=u'B')
rob7_L_rc = share.DummySensorHandler.inRegion(robotName=u'rob7', regionName=u'L')
rob7_R_rc = share.DummySensorHandler.inRegion(robotName=u'rob7', regionName=u'R')
rob7_D_rc = share.DummySensorHandler.inRegion(robotName=u'rob7', regionName=u'D')
rob8_T_rc = share.DummySensorHandler.inRegion(robotName=u'rob8', regionName=u'T')
rob8_B_rc = share.DummySensorHandler.inRegion(robotName=u'rob8', regionName=u'B')
rob8_L_rc = share.DummySensorHandler.inRegion(robotName=u'rob8', regionName=u'L')
rob8_R_rc = share.DummySensorHandler.inRegion(robotName=u'rob8', regionName=u'R')
rob8_D_rc = share.DummySensorHandler.inRegion(robotName=u'rob8', regionName=u'D')


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1, -0., 0. ],
       [ 0., 1,  0. ],
       [ 0., 0., 1. ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=1.,maxspeed=100.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="T",x=0.,y=0.)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.MultiRobotServerHandler(scalingPixelsToMeters=70.)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob1

Type: # Robot type
basicSim

======== Robot2 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1, -0., 0. ],
       [ 0., 1,  0. ],
       [ 0., 0., 1. ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=1.,maxspeed=100.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="T",x=-70.,y=0.)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.MultiRobotServerHandler(scalingPixelsToMeters=70.)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob2

Type: # Robot type
basicSim

======== Robot3 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1, -0., 0. ],
       [ 0., 1,  0. ],
       [ 0., 0., 1. ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=1.,maxspeed=100.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="T",x=-140.,y=0.)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.MultiRobotServerHandler(scalingPixelsToMeters=70.)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob3

Type: # Robot type
basicSim

======== Robot4 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1, -0., 0. ],
       [ 0., 1,  0. ],
       [ 0., 0., 1. ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=1.,maxspeed=100.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="T",x=-210.,y=0.)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.MultiRobotServerHandler(scalingPixelsToMeters=70.)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob4

Type: # Robot type
basicSim

======== Robot5 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1, -0., 0. ],
       [ 0., 1,  0. ],
       [ 0., 0., 1. ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=1.,maxspeed=100.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="T",x=140.,y=80.)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.MultiRobotServerHandler(scalingPixelsToMeters=70.)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob5

Type: # Robot type
basicSim

======== Robot6 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1, -0., 0. ],
       [ 0., 1,  0. ],
       [ 0., 0., 1. ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=1.,maxspeed=100.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="T",x=0.,y=80.)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.MultiRobotServerHandler(scalingPixelsToMeters=70.)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob6

Type: # Robot type
basicSim

======== Robot7 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1, -0., 0. ],
       [ 0., 1,  0. ],
       [ 0., 0., 1. ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=1.,maxspeed=100.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="T",x=-70.,y=80.)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.MultiRobotServerHandler(scalingPixelsToMeters=70.)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob7

Type: # Robot type
basicSim

======== Robot8 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1, -0., 0. ],
       [ 0., 1,  0. ],
       [ 0., 0., 1. ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=1.,maxspeed=100.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="T",x=70.,y=80.)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.MultiRobotServerHandler(scalingPixelsToMeters=70.)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob8

Type: # Robot type
basicSim
